*{box-sizing: border-box}

/*Start Nav*/
.content{position: relative;overflow: hidden}

.nav{
    padding:  0;
    position: fixed
}

.nav ul{
    padding: 20px 0px;
    background-color: #2B2C30;
    margin-right: 10px
}

.nav ul li{
    display: block;
    color: #FFF;
    padding: 12px;
    font-size: 18px;
    cursor: pointer
}

.nav ul h2{
    background-color: #00A3FF;
    font-weight: bold;
    padding: 10px 5px
}

.nav ul li:hover{
    background-color: #00A3FF
}

/*End Nav*/

/*Start Getting Started*/

h2{
    font-weight: bold;
    color: #27272c
}

p{
    font-size: 16px;
    color: #555;
    line-height: 1.9
}

span{color: #00A3FF }

/*End Getting Started*/

























